<link rel="stylesheet" href="/stylesheets/new.css">
<div id="form-container">
  <form method="POST" action="/new" id="messageForm">
    <label for="username">username</label>
    <input name="user" type="text" id="username">
    <label for="message">message</label>
    <input name="text" type="text" id="message">
    <input type="submit" form="messageForm" value="submit" class="action-button" />
  </form>
</div>