@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
}

#page-title {
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px 0;
  margin: 20px;
  color: rgb(81, 90, 77);
}

.action-button {
  display: block;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  padding: 8px 12px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  background-color: hsl(100, 39%, 93%);
  color: rgb(41, 46, 40);
  font-size: 16px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

.action-button:hover {
  background-color: hsl(100, 24%, 90%);
}

.action-button a {
  text-decoration: none;
  color: inherit;
}