#message-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: auto;
  padding: 15px;
  border: solid 2px rgb(224, 230, 221);
  border-radius: 4px;
}

#message-board .message:not(:last-child) {
  margin-bottom: 20px;
}

.message {
  width: 600px;
  max-width: calc(85vw - 20px);
}

.message-date {
  opacity: 0.5;
  float: right;
}

.message-text {
  margin: 0;
  background-color: rgb(242, 248, 239);
  color: rgb(59, 66, 57);
  padding: 8px 12px;
  margin: 10px 0 5px;
  border-radius: 4px;
}